<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale= 1.0">
        <title>Model Deployment</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class = 'header'>
            <div class="container">
                <h1 class="logo">Netflix Movie <span>Recommendation</span></h1>
            </div>
        </div>
        <section class="hero">
            <div class="container">
                <p class="subhead">Enter a Movie Name To Get Top 10 Recommendations</p>
                <form action="/" method="POST">
                <input type="text" name="movie" id= "movie" class="forms" placeholder="Enter the movie name">
                <input type="submit" value= "Submit" id="submit_button" class="forms_button" >
                </form>
            </div>
        </section> 
    </body>
</html>